@import "./variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  color: $color-text
  font-size: $font-size-small

input,button,select,textarea{outline:none}
