// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
// 清除浮动
clear-fix()
  &:before,&:after
    content: ''
    display: table
  &:after
    clear both
// 链接
link-a($color = $color-text,$fontSize = $font-size-small)
  color $color
  cursor pointer
  transition all .6s
  font-size: $fontSize
  &:hover
    color $color-theme
// 按钮
btn($width = 100%,$height,$radius = 5px,
$bgColor = transparent,$fontSize = $font-size-small,
$fontColor = $color-text)
  display block
  width $width
  height $height
  line-height $height
  border-radius $radius
  background-color $bgColor
  font-size $fontSize
  color $fontColor
  text-align: center
  cursor: pointer
  transition all .3s
// 背景图
bg($theurl)
  background url($theurl) 0 0 no-repeat
// 边框
border($color = $color-border,$px = 1px)
  border $px solid $color

// 包裹
wrapper()
  position relative
  z-index 2
  width $width-base
  margin 0 auto
  clear-fix()

wrapper-left()
  clear-fix()
  width $width-left
  float left

wrapper-right()
  clear-fix()
  width $width-right
  float right
