userPublicInput()
  box-sizing border-box
  border()
  font-size 0
  .title,.content
    display inline-block
    font-size $font-size-medium-x
    color $color-text
    text-align center
  .title
    box-sizing border-box
    width 214px
    padding 14px 53px
    text-align right
    background-color #f7fafe
    border-right 1px solid $color-border
  .content
    padding 14px
userInputWrapper()
  margin-top 20px
  .title,.input-wrapper
    display inline-block
    box-sizing border-box
    font-size $font-size-medium-x
    color $color-text
    text-align center
  .title
    display inline-block
    vertical-align middle
    width 230px
    padding 14px 30px
    text-align right
  .input-wrapper
    display inline-block
    vertical-align middle
    border()
    padding 10px
    input
      width 300px
